extends layout.pug
block content
    .jumbotron
        .container
            h1 Visualised algorithms
            p Classic algorithms implemented in Javascript and visualized in browser
    .container
        // Example row of columns
        .row
            .col-md-4
                a.tile(href='/sorting.html')
                    div
                        h2 Sorting
                        img.title-img(src='/img/sorting.png')
            .col-md-4
                a.tile(href='trees.html')
                    div
                        h2 Trees
                        p  Tree data structures [to be done]
            .col-md-4
                a.tile(href='trees.html')
                    div
                        h2 Graphs
                        p  Graph algorithms [to be done]
        hr
        footer
