extends layout.pug

block content
    .container
        .row
            h1 Sorting
        .row
            .col-xs-12.col-md-10
                .row
                    #sorting-canvas
                        canvas(height=200, width=400)
                            | Canvas, hell yeah !
                .row
                    .btn-group(role='group').col-xs-12.col-sm-7.col-md-5
                        a#start.btn.btn-primary.btn-sm(title='Start animation')
                            span.glyphicon.glyphicon-play
                            | &nbsp Start
                        a#stop.btn.btn-primary.btn-sm(title='Stop animation')
                            span.glyphicon.glyphicon-stop
                            | &nbsp Stop
                        a#shuffle.btn.btn-primary.btn-sm(title='Shuffle elements')
                            span.glyphicon.glyphicon-align-right
                            | &nbsp Shuffle
                        a#reset.btn.btn-primary.btn-sm(title='Reset the array')
                            span.glyphicon.glyphicon-refresh
                            | &nbsp Reset
                    .col-xs-12.col-sm-5#speed
                        label(for'speed-input') Speed
                        input#speed-input(type='range' min='5' max='200' value=30 title='Set speed of animation')

        .row
            h3 Sorting algorithm
            p From the slowest to the fastest
            - var sorts =[
            - {name:'bubble', upperBound:'n<sup>2</sup>'},
            - {name:'selection', upperBound:'n<sup>2</sup>'},
            - {name:'insertion', upperBound:'n<sup>2</sup>'},
            - {name:'merge', upperBound:'n log n'},
            - {name:'quick', upperBound: 'n log n'}]

            each sort in sorts
                - var name= sort.name.charAt(0).toUpperCase() + sort.name.slice(1) + ' sort'
                .radio
                    label
                        input(type='radio', name='sort', value=sort.name, checked='')
                        |  !{name} &nbsp
                        i O(!{sort.upperBound})


