extends layout.pug

block content
    .container
        h1 Sorting algorithms
        .canvas
            canvas#canvas(width='600', height='200')
                | Canvas, hell yeah !
            hr

            .btn-toolbar(role='toolbar')
                each val in ['bubble', 'selection', 'insertion', 'merge']
                    - var name= val.charAt(0).toUpperCase() + val.slice(1) + ' sort'
                    button(id=val + '-sort').btn.btn-default.btn-sm= name
            hr
            button#randomize.btn.btn-primary Shuffle
